
.hero .hero_image img {
    min-width: 100%;
    min-height: 680px;
}


.hero {
  width:100%;min-width:1080px;height:680px;position:relative;overflow:hidden;background:#000;
}
.hero .hero_message{
  padding-top:40px;width:531px;height:244px;background:url(bg-stars.png) 0 0 no-repeat;position:absolute;bottom:50px;left:20px;margin-left:0;text-align:center;z-index:300;
}


.hero .hero_message h1{font-family:'Montserrat', sans-serif;font-size:40px;letter-spacing:.2em;color:#fff;line-height:50px;}
.hero .hero_message h1 span{font-family:'Old Standard TT',serif;font-weight:400;font-size:90px;display:block;padding:25px 0;letter-spacing:0em;}
.hero .hero_image{width:100%;min-width:1080px;height:auto;}
.hero .hero_image img{min-width:100%;min-height:680px;}

.titlebar{width:100%;min-width:1080px;height:70px;padding-top:10px;border-top:4px solid #fff;border-bottom:4px solid #fff;background:#2b325f;text-align:center;}
.titlebar .titlebar_item{display:inline-block;vertical-align:middle;margin-left:-4px;}
.titlebar .titlebar_item input[type=email]{padding:0 35px;height:80px;width:295px;background:#101a1f;font-family:'Old Standard TT',serif;font-style:italic;color:#fff;font-size:18px;}
.titlebar .titlebar_item a{display:block;cursor:pointer;font-family:'Montserrat',sans-serif;font-size:24px;font-weight:700;color:#fff;width:180px;height:60px;background:url(button-bg.jpg) 0 0 no-repeat;line-height:60px;margin-right:20px;}
.titlebar .titlebar_item.title{text-align:right;margin-right:55px;}
.titlebar .titlebar_item.title h3{color:#fff;line-height:60px;}
.titlebar h1{color:#fff;}

html, body, p, a, h1, h2, h3, h4, h5, h6 {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
a {
text-decoration: none;
}

html, body, br, hr, div, span, a, object, iframe, ul, ol, dl, li, dt, dd, h1, h2, h3, h4, h5, h6, p, blockquote, q, address, small, big, cite, dfn, ins, del, i, em, b, strong, sup, sub, strike, pre, code, samp, kbd, var, tt, form, fieldset, legend, label, input, textarea, option, .nobox {
    background: transparent;
    border: 0;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}
h1, h2, h3, h4, h5, h6 {
    color: #464646;
    font-family: 'Old Standard TT',serif;
    font-weight: 700;
    text-transform: uppercase;
}

.titlebar h3, .titlebar h1  {
    font-family: 'Montserrat',sans-serif;
}
.titlebar h3  {
    font-size: 20px;
}


.body-heading h1 {
    background:#4154CC;
    font-size: 30px;
    text-align: left;
    padding-left: 10px;
}


@media only screen and (min-width: 1025px) and (max-width: 1079px)/* for all screen larger then 1200px (devices and browsers) */ {
  header{min-width:inherit;
  }

.hero{min-width:inherit;}.titlebar{min-width:inherit;}.media{min-width:inherit;}.twitter_posts{min-width:inherit;}footer{min-width:inherit;}.hero .hero_image{min-width:inherit;}.internal .banner{min-width:inherit;}.internal .banner .banner_message{min-width:inherit;}.about .top{min-width:inherit;}.about .main .full_img{min-width:inherit;}.social{min-width:inherit;}}


@media screen and (max-width: 480px)/* max-width 480px, Only for mobile device */{.hero .hero_message{display:none;}.hero .hero_message h1 span{font-size:30px;}.hero .hero_message h1{line-height:33px;font-size:18px;}
@media screen and (max-width: 600px){.hero .hero_message{display:none;}}
@media screen and (max-width: 880px)/* max-width 767px, Only for mobile device */{.titlebar .titlebar_item.title h3{line-height:normal;}
@media screen and (max-width: 767px)/* max-width 767px, Only for mobile device */{.hero{min-width:inherit;height:auto;min-height:180px;}.titlebar{min-width:inherit;height:auto;padding:20px 0;border:none;}.titlebar .titlebar_item.title{margin-right:0;text-align:center;margin-bottom:5px;margin-left:0;display:block;}

@media screen and (max-width: 767px) {
.hero .hero_message h1 span {
    font-size: 50px;
    padding: 0;
}}
@media screen and (max-width: 767px) {
.hero .hero_message {
    bottom: 4%;
    margin-left: 0;
    left: 4%;
    width: 92%;
    background-size: 100% 100%;
    height: calc(100% - 66px);
    padding: 20px 0;
}
@media only screen and (min-width: 768px) and (max-width: 1024px)/* for all device larger then 768px (devices and browsers) */ {header{min-width:inherit;}.hero{min-width:inherit;height:auto;}.titlebar{min-width:inherit;}.media{min-width:inherit;}.twitter_posts{min-width:inherit;}footer{min-width:inherit;}header .container{width:96%;}.hero .hero_image{min-width:inherit;}.media .container{width:96%;}#root_left{width:59%;float:left;}#root_right{width:40%;float:right;}.media .multimedia img{max-width:100%;}.media .press .press_item{padding:20px 2% 50px;width:43%;margin:0 1%;}.media .press .press_item h2,.press .main .press_item h2{font-size:18px;line-height:26px;}.media .releases .release_item{padding:20px 2% 50px;width:94%;margin:0 1% 10px;}.media .releases .release_item h2,.press .main .press_item h2{font-size:18px;line-height:26px;}.twitter_posts .twitter_item{padding:0 2% 35px;width:45%;vertical-align:top;}.social{min-width:inherit;}.social .social_item{width:18%;padding-left:6%;}header nav ul li a{padding:0 15px;}.hero .hero_image img{max-width:100%;min-height:inherit;display:block;}.hero .hero_message{bottom:10%;}.internal .banner{min-width:inherit;}.internal .banner .banner_message{min-width:inherit;}.about .top{min-width:inherit;}.about .main .full_img{min-width:inherit;}.social{min-width:inherit;}.about .main .two_col_img{max-width:48%;}.internal .banner .banner_image{min-width:inherit;}}

.hero .hero_message {
    padding-top: 40px;
    width: 531px;
    height: 244px;
    background: url(bg-stars.png) 0 0 no-repeat;
    position: absolute;
    bottom: 50px;
    left: 20px;
    margin-left: 0;
    text-align: center;
    z-index: 300;
}
}

#intro {
  background: url('pattern.gif') repeat-x repeat-y;
  padding: 10%;
  color: red;
}
