
div#action-stations-widget {
  position:fixed;
  display:table;
  text-align:left;
  line-height:1em;
  left:1em;
  bottom:2em;
  z-index:1000;
  border-radius:0.7em;
  white-space:nowrap;
  font-family:arial,helvetica,sans-serif;
  font-weight:normal;
  font-size:small;
  padding-left:0.5em;
  padding-right:0.5em;
}
div#action-stations-widget.action-stations-red {
  color:LightGoldenRodYellow ;
  border:2px solid LightGoldenRodYellow ;
  background:red;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cc0000+0,cc0000+100;Red+Flat */
  background: #cc0000; /* Old browsers */
  background: -moz-linear-gradient(top,  #cc0000 0%, #cc0000 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #cc0000 0%,#cc0000 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #cc0000 0%,#cc0000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0000', endColorstr='#cc0000',GradientType=0 ); /* IE6-9 */
}
div#action-stations-widget.action-stations-pink {
  color:black;
  border:2px solid red;
  background:LightPink;
  background-color: #FFD1F3;
  /* For WebKit (Safari, Chrome, etc) */
  background: #FFD1F3 -webkit-gradient(linear, left top, left bottom, from(#FFD1D4), to(#FFD1F3)) no-repeat;
  /* Mozilla,Firefox/Gecko */
  background: #FFD1F3 -moz-linear-gradient(top, #FFD1D4, #FFD1F3) no-repeat;
  /* IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFD1D4, endColorstr=#FFD1F3) no-repeat;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFD1D4, endColorstr=#FFD1D4)" no-repeat;
}
div#action-stations-widget.action-stations-murica {
  color:DarkBlue;
  border:2px solid red;
  background:white;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f1f1f1+27,e1e1e1+65,f6f6f6+100 */
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(255,255,255,1) 0%, rgba(241,241,241,1) 27%, rgba(225,225,225,1) 65%, rgba(246,246,246,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 27%,rgba(225,225,225,1) 65%,rgba(246,246,246,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 27%,rgba(225,225,225,1) 65%,rgba(246,246,246,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
div#action-stations-widget.action-stations-snowflake {
  color:DarkBlue;
  border:2px solid LightBlue;
  background:white;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#feffff+0,ddf1f9+35,d5e6ed+100 */
  background: #feffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #feffff 0%, #ddf1f9 35%, #d5e6ed 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #feffff 0%,#ddf1f9 35%,#d5e6ed 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #feffff 0%,#ddf1f9 35%,#d5e6ed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#d5e6ed',GradientType=0 ); /* IE6-9 */
}
div#action-stations-widget.action-stations-orange {
  border:2px solid gray;
  color:white;
  background: #f2825b; /* Old browsers */
  background: -moz-linear-gradient(top,  #f2825b 0%, #e55b2b 50%, #f07146 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #f2825b 0%,#e55b2b 50%,#f07146 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #f2825b 0%,#e55b2b 50%,#f07146 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2825b', endColorstr='#f07146',GradientType=0 ); /* IE6-9 */
  -webkit-font-smoothing:auto;
}


div#action-stations-widget > div.tcycle {
  display:table-cell;
  padding-bottom:0.25em;
  padding-top:0.25em;
}
div#action-stations-widget > div.tcycle a {
  font-size:small;
  display:block;
}

div#action-stations-widget > div.tcycle a:hover {
  text-decoration:underline;
}
div#action-stations-widget > div.action-stations-expanded {
  width:100%;
  height:100%;
  display:table;
  padding-bottom:1em;
  padding-top:1em;
}
div#action-stations-widget > div.action-stations-expanded a {
  display:block;
  font-size:medium;
}

div#action-stations-widget div.action-stations-widget-linkwrapper.action-stations-orange:hover {
  background-color:DarkOrange;
}
div#action-stations-widget > div.action-stations-expanded a.action-stations-orange,
div#action-stations-widget > div.tcycle a.action-stations-orange {
  color:white;
}

div#action-stations-widget div.action-stations-widget-linkwrapper.action-stations-pink:hover {
  background-color:white;
}
div#action-stations-widget > div.action-stations-expanded a.action-stations-pink,
div#action-stations-widget > div.tcycle a.action-stations-pink {
  color:black;
}

div#action-stations-widget div.action-stations-widget-linkwrapper.action-stations-red:hover {
  background-color:LightPink;
}
div#action-stations-widget > div.action-stations-expanded a.action-stations-red,
div#action-stations-widget > div.tcycle a.action-stations-red {
  color:LightGoldenRodYellow ;
}

div#action-stations-widget div.action-stations-widget-linkwrapper.action-stations-snowflake:hover {
  background-color:AliceBlue;
}
div#action-stations-widget > div.action-stations-expanded a.action-stations-snowflake,
div#action-stations-widget > div.tcycle a.action-stations-snowflake {
  color:DarkBlue;
}

div#action-stations-widget div.action-stations-widget-linkwrapper.action-stations-murica:hover {
  background-color:AliceBlue;
}
div#action-stations-widget > div.action-stations-expanded a.action-stations-murica,
div#action-stations-widget > div.tcycle a.action-stations-murica {
  color:DarkBlue;
}

div#action-stations-widget div.action-stations-widget-linkwrapper {
  width:100%;
  position:relative;
  vertical-align:middle;
  white-space:nowrap;
  text-align:left;
  display:table-row;
}

div#action-stations-widget div.action-stations-widget-linkwrapper a {
  display:table-cell;
  font-family:arial,helvetica,sans-serif;
  padding-right:1em;
}
div#action-stations-widget div.action-stations-widget-linkwrapper div.action-stations-done {
  display:table-cell;
  cursor:default;
  font-family:arial,helvetica,sans-serif;
}
div#action-stations-widget div.action-stations-widget-linkwrapper div.action-stations-done input {
  vertical-align:middle;
}
div#action-stations-widget div.action-stations-widget-linkwrapper div.action-stations-timeleft {
  display:table-row;
  text-align:left;
  font-family:arial,helvetica,sans-serif;
  font-size:small;
  width:100%;
}

div#action-stations-widget > span.action-stations-expand {
  padding-right:0.2em;
  padding-left:0.5em;
  padding-bottom:0.25em;
  margin:0px;
  display:table-cell;
  cursor:pointer;
  font-size:large;
  vertical-align:middle;
}
div#action-stations-widget > span.action-stations-shrinkwrap {
  padding-right:0.5em;
  padding-left:0.2em;
  padding-bottom:0px;
  padding-top:0px;
  margin:0px;
  display:table-cell;
  cursor:pointer;
  font-size:x-large;
  vertical-align:middle;
}

div#action-stations-widget span.action-stations-shrinkwrap.action-stations-red {
  color:yellow;
}
div#action-stations-widget span.action-stations-shrinkwrap.action-stations-pink {
  color:red;
}
div#action-stations-widget span.action-stations-shrinkwrap.action-stations-snowflake {
  color:blue;
}
div#action-stations-widget span.action-stations-shrinkwrap.action-stations-murica {
  color:DarkBlue;
}

div#action-stations-widget a {
  padding-top:0.5em;
  font-family:arial,helvetica,sans-serif;
  font-weight:normal;
  text-decoration:none;
}
div.action-stations-expanded-head {
  display:table-row;
  width:100%;
}
div.action-stations-expanded-head > h2 {
  display:table-cell;
  font-weight:normal;
  font-size:large;
  font-family:arial,helvetica,sans-serif;
  padding-bottom:0.5em;
}
div.action-stations-expanded-head > span {
  display:table-cell;
  font-family:arial,helvetica,sans-serif;
  text-align:right;
  font-size:x-large;
  padding-bottom:0.5em;
  cursor:pointer;
}

div.action-stations-expanded-head > h2.action-stations-orange,
div.action-stations-expanded-head > span.action-stations-orange {
  border-bottom:2px dotted gray;
}
div.action-stations-expanded-head > h2.action-stations-pink,
div.action-stations-expanded-head > span.action-stations-pink {
  border-bottom:2px dotted red;
}
div.action-stations-expanded-head > h2.action-stations-red,
div.action-stations-expanded-head > span.action-stations-red {
  border-bottom:2px dotted yellow;
}
div.action-stations-expanded-head > h2.action-stations-snowflake,
div.action-stations-expanded-head > span.action-stations-snowflake {
  border-bottom:2px dotted DarkBlue;
}
div.action-stations-expanded-head > h2.action-stations-murica,
div.action-stations-expanded-head > span.action-stations-murica {
  border-bottom:2px dotted blue;
}

div#action-stations-widget div.action-stations-timeleft.action-stations-donechecked,
div#action-stations-widget div.action-stations-widget-linkwrapper.action-stations-donechecked a {
  text-decoration:line-through;
  color:LightGray;
}
div#action-stations-widget.action-stations-shrunk {
  padding:2px;
  border-radius:1em;
  width:1em;
  height:1em;
  line-height:1em;
}
div#action-stations-widget.action-stations-shrunk > span.action-stations-shrinkwrap,
div#action-stations-widget.action-stations-shrunk > span.action-stations-shrinkwrap > img {
  padding:0px !important;
  margin:0px !important;
  vertical-align:middle !important;
  text-align:center;
  width:1em;
  line-height:1em;
  height:1em;
}

div#action-stations-widget a.action-stations-settings-button,
div#action-stations-widget span.action-stations-shrinkwrap-from-expanded {
  padding-right:0.5em;
  padding-left:0.2em;
  padding-top:0px;
  font-size:x-large;
  vertical-align:top;
  margin:0px;
  display:inline;
  cursor:pointer;
}
div#action-stations-widget span.action-stations-retract {
  font-size:x-large;
  padding-bottom:0px;
  vertical-align:top;
}

div#action-stations-widget a.action-stations-settings-button {
  display:inline-block;
  float:right;
}
div#action-stations-widget span.action-stations-shrinkwrap-from-expanded.action-stations-red {
  color:yellow;
}
div#action-stations-widget span.action-stations-shrinkwrap-from-expanded.action-stations-pink {
  color:red;
}
div#action-stations-widget span.action-stations-shrinkwrap-from-expanded.action-stations-snowflake {
  color:blue;
}
div#action-stations-widget span.action-stations-shrinkwrap-from-expanded.action-stations-murica {
  color:DarkBlue;
}
