
div#action-stations-widget-box {
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  height:100%;
  border:0px;
  background:transparent;
  z-index:9998;
  pointer-events: none
}
div#action-stations-widget {
  display:table;
  pointer-events:auto;
  text-align:left;
  line-height:1em;
  z-index:9999;
  border-radius:0.7em;
  white-space:nowrap;
  font-family:arial,helvetica,sans-serif;
  font-weight:normal;
  font-size:small;
  padding-left:1em;
  padding-right:1em;
}
div#action-stations-widget > a,
div#action-stations-widget > div,
div#action-stations-widget > h2 {
  z-index:auto;
}

body#actionstations-options-page {
  font-size:large;
  text-align:left;
}
body#actionstations-options-page div#actionstations-config {
  float:left;
  display:block;
  width:49%;
}
body#actionstations-options-page div#actionstations-themes {
  float:right;
  display:block;
  width:49%;
}

body#actionstations-options-page div#as-locales {
  margin-left:1em;
  background-color:PaleGreen;
  max-width:50%;
  display:none;
  margin-top:0.5em;
  border:1px solid black;
  border-radius:0.3em;
  padding:0.3em;
}

body#actionstations-options-page label {
  padding:0.3em;
  margin-bottom:0.2em;
  font-size:large;
  border-radius:0.2em;
  display:inline-block;
}
body#actionstations-options-page label.dradis,
div#action-stations-widget.action-stations-dradis {
  color:MediumSpringGreen;
  border:2px solid DodgerBlue;
  background:#222222;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,3b516d+100 */
background: #000000; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #000000 0%, #3b516d 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover,  #000000 0%,#3b516d 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center,  #000000 0%,#3b516d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#3b516d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
body#actionstations-options-page label.red,
div#action-stations-widget.action-stations-red {
  color:LightGoldenRodYellow;
  border:2px solid LightGoldenRodYellow;
  background:red;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cc0000+0,cc0000+100;Red+Flat */
  background: #cc0000; /* Old browsers */
  background: -moz-linear-gradient(top,  #cc0000 0%, #cc0000 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #cc0000 0%,#cc0000 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #cc0000 0%,#cc0000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0000', endColorstr='#cc0000',GradientType=0 ); /* IE6-9 */
}
body#actionstations-options-page label.pink,
div#action-stations-widget.action-stations-pink {
  color:black;
  border:2px solid red;
  background:LightPink;
  background-color: #FFD1F3;
  /* For WebKit (Safari, Chrome, etc) */
  background: #FFD1F3 -webkit-gradient(linear, left top, left bottom, from(#FFD1D4), to(#FFD1F3)) no-repeat;
  /* Mozilla,Firefox/Gecko */
  background: #FFD1F3 -moz-linear-gradient(top, #FFD1D4, #FFD1F3) no-repeat;
  /* IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFD1D4, endColorstr=#FFD1F3) no-repeat;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFD1D4, endColorstr=#FFD1D4)" no-repeat;
}
body#actionstations-options-page label.murica,
div#action-stations-widget.action-stations-murica {
  color:DarkBlue;
  border:2px solid red;
  background:white;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f1f1f1+27,e1e1e1+65,f6f6f6+100 */
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(255,255,255,1) 0%, rgba(241,241,241,1) 27%, rgba(225,225,225,1) 65%, rgba(246,246,246,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 27%,rgba(225,225,225,1) 65%,rgba(246,246,246,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 27%,rgba(225,225,225,1) 65%,rgba(246,246,246,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
body#actionstations-options-page label.snowflake,
div#action-stations-widget.action-stations-snowflake {
  color:DarkBlue;
  border:2px solid LightBlue;
  background:white;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#feffff+0,ddf1f9+35,d5e6ed+100 */
  background: #feffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #feffff 0%, #ddf1f9 35%, #d5e6ed 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #feffff 0%,#ddf1f9 35%,#d5e6ed 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #feffff 0%,#ddf1f9 35%,#d5e6ed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#d5e6ed',GradientType=0 ); /* IE6-9 */
}
body#actionstations-options-page label.orange,
div#action-stations-widget.action-stations-orange {
  border:2px solid gray;
  color:white;
  background: #f2825b; /* Old browsers */
  background: -moz-linear-gradient(top,  #f2825b 0%, #e55b2b 50%, #f07146 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #f2825b 0%,#e55b2b 50%,#f07146 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #f2825b 0%,#e55b2b 50%,#f07146 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2825b', endColorstr='#f07146',GradientType=0 ); /* IE6-9 */
  -webkit-font-smoothing:auto;
}


div#action-stations-widget > div.tcycle {
  display:table-cell;
}
div#action-stations-widget > div.tcycle a {
  font-size:small;
  display:block;
}
/* mimic tcycle's padding behavior when tcycle's not on */
div#action-stations-widget > div.tcycle a.noslide {
  padding-bottom:0.5em;
  padding-top:0.5em;
}

div#action-stations-widget > div.tcycle a:hover {
  text-decoration:underline;
}
div#action-stations-widget > div.action-stations-expanded {
  width:100%;
  height:100%;
  display:table;
  bottom:0px;
  position:relative;
  padding-bottom:1em;
  padding-top:1em;
}
div#action-stations-widget > div.action-stations-expanded div.action-stations-widget-linkwrapper a {
  display:block;
  font-size:medium;
}

div#action-stations-widget div.action-stations-widget-linkwrapper.action-stations-orange:hover {
  background-color:DarkOrange;
}
div#action-stations-widget > div.action-stations-expanded a.action-stations-orange,
div#action-stations-widget > div.tcycle.action-stations-orange a,
div#action-stations-widget > div.tcycle.action-stations-orange {
  color:white;
}

div#action-stations-widget div.action-stations-widget-linkwrapper.action-stations-pink:hover {
  background-color:LightPink;
}
div#action-stations-widget > div.action-stations-expanded a.action-stations-pink,
div#action-stations-widget > div.tcycle.action-stations-pink a,
div#action-stations-widget > div.tcycle.action-stations-pink {
  color:black;
}

div#action-stations-widget div.action-stations-widget-linkwrapper.action-stations-dradis:hover {
  background-color:DarkBlue;
}
div#action-stations-widget > div.action-stations-expanded a.action-stations-dradis,
div#action-stations-widget > div.tcycle.action-stations-dradis a,
div#action-stations-widget > div.tcycle.action-stations-dradis {
  color:MediumSpringGreen;
}


div#action-stations-widget div.action-stations-widget-linkwrapper.action-stations-red:hover {
  background-color:red;
}
div#action-stations-widget > div.action-stations-expanded a.action-stations-red,
div#action-stations-widget > div.tcycle.action-stations-red a,
div#action-stations-widget > div.tcycle.action-stations-red {
  color:LightGoldenRodYellow;
}

div#action-stations-widget div.action-stations-widget-linkwrapper.action-stations-snowflake:hover {
  background-color:AliceBlue;
}
div#action-stations-widget > div.action-stations-expanded a.action-stations-snowflake,
div#action-stations-widget > div.tcycle.action-stations-snowflake a,
div#action-stations-widget > div.tcycle.action-stations-snowflake {
  color:DarkBlue;
}

div#action-stations-widget div.action-stations-widget-linkwrapper.action-stations-murica:hover {
  background-color:white;
}
div#action-stations-widget > div.action-stations-expanded a.action-stations-murica,
div#action-stations-widget > div.tcycle.action-stations-murica a,
div#action-stations-widget > div.tcycle.action-stations-murica {
  color:DarkBlue;
}

div#action-stations-widget div.action-stations-widget-linkwrapper {
  width:100%;
  position:relative;
  vertical-align:middle;
  white-space:nowrap;
  text-align:left;
  display:table-row;
}

div#action-stations-widget div.action-stations-widget-linkwrapper a {
  display:table-cell;
  font-family:arial,helvetica,sans-serif;
  padding-right:1em;
}
div#action-stations-widget div.action-stations-widget-linkwrapper div.action-stations-done {
  display:table-cell;
  cursor:default;
  font-family:arial,helvetica,sans-serif;
}
div#action-stations-widget div.action-stations-widget-linkwrapper div.action-stations-done input {
  vertical-align:middle;
}
div#action-stations-widget div.action-stations-widget-linkwrapper div.action-stations-timeleft {
  display:table-row;
  text-align:left;
  font-family:arial,helvetica,sans-serif;
  font-size:small;
  width:100%;
}

div#action-stations-widget > a.action-stations-expand {
  padding-right:0.2em;
  padding-left:0.5em;
  padding-top:0px;
  padding-bottom:0px;
  height:100%;
  width:auto;
  margin:0px;
  display:table-cell;
  cursor:pointer;
  font-size:large;
  vertical-align:middle;
}
div#action-stations-widget > a.action-stations-shrinkwrap {
  padding-right:0.5em;
  padding-left:0.2em;
  padding-bottom:0px;
  padding-top:0px;
  margin:0px;
  display:table-cell;
  cursor:pointer;
  font-size:x-large;
  vertical-align:middle;
}

div#action-stations-widget a.action-stations-shrinkwrap.action-stations-dradis {
  color:MediumSpringGreen;
}
div#action-stations-widget a.action-stations-shrinkwrap.action-stations-orange,
div#action-stations-widget a.action-stations-shrinkwrap.action-stations-red {
  color:yellow;
}
div#action-stations-widget a.action-stations-shrinkwrap.action-stations-pink {
  color:red;
}
div#action-stations-widget a.action-stations-shrinkwrap.action-stations-snowflake {
  color:blue;
}
div#action-stations-widget a.action-stations-shrinkwrap.action-stations-murica {
  color:DarkBlue;
}

div#action-stations-widget a {
  padding-top:0.5em;
  padding-bottom:0.5em;
  font-family:arial,helvetica,sans-serif;
  font-weight:normal;
  text-decoration:none;
}
div.action-stations-expanded-head {
  display:table-row;
  width:100%;
}
div.action-stations-expanded-head > h2 {
  display:table-cell;
  font-weight:normal;
  font-size:large;
  font-family:arial,helvetica,sans-serif;
  padding-bottom:0.5em;
}
div.action-stations-expanded-head > a {
  display:table-cell;
  font-family:arial,helvetica,sans-serif;
  text-align:right;
  font-size:x-large;
  padding-bottom:0.5em;
  cursor:pointer;
}

div.action-stations-expanded-head > h2.action-stations-dradis,
div.action-stations-expanded-head > a.action-stations-dradis {
  color:MediumSpringGreen;
  border-bottom:2px dotted DodgerBlue;
}
div.action-stations-expanded-head > h2.action-stations-orange,
div.action-stations-expanded-head > a.action-stations-orange {
  color:yellow;
  border-bottom:2px dotted gray;
}
div.action-stations-expanded-head > h2.action-stations-pink,
div.action-stations-expanded-head > a.action-stations-pink {
  color:red;
  border-bottom:2px dotted red;
}
div.action-stations-expanded-head > h2.action-stations-red,
div.action-stations-expanded-head > a.action-stations-red {
  color:yellow;
  border-bottom:2px dotted yellow;
}
div.action-stations-expanded-head > h2.action-stations-snowflake,
div.action-stations-expanded-head > a.action-stations-snowflake {
  color:blue;
  border-bottom:2px dotted DarkBlue;
}
div.action-stations-expanded-head > h2.action-stations-murica,
div.action-stations-expanded-head > a.action-stations-murica {
  color:DarkBlue;
  border-bottom:2px dotted blue;
}

div#action-stations-widget div.action-stations-timeleft.action-stations-donechecked,
div#action-stations-widget div.action-stations-widget-linkwrapper.action-stations-donechecked a {
  text-decoration:line-through;
  color:LightGray;
}
div#action-stations-widget.action-stations-shrunk {
  padding:2px;
  border-radius:1em;
  width:1em;
  height:1em;
  line-height:1em;
}
div#action-stations-widget.action-stations-shrunk > a.action-stations-shrinkwrap,
div#action-stations-widget.action-stations-shrunk > a.action-stations-shrinkwrap > img {
  padding:0px !important;
  margin:0px !important;
  vertical-align:middle !important;
  text-align:center;
  width:1em;
  line-height:1em;
  height:1em;
}

div#action-stations-widget a.action-stations-shrinkwrap-from-expanded {
  padding-right:0.5em;
  padding-left:0.2em;
  padding-top:0px;
  font-size:x-large;
  vertical-align:top;
  margin:0px;
  display:inline;
  cursor:pointer;
}
div#action-stations-widget a.action-stations-retract {
  font-size:x-large;
  vertical-align:top;
  height:100%;
  padding-top:0px;
  padding-bottom:0px;
  width:auto;
}

div#action-stations-widget > div.action-stations-expanded h2 > a.action-stations-settings-button {
  font-size:x-large;
  font-weight:bold;
  padding-top:0px;
  padding-bottom:0px;
  height:100%;
  width:auto;
  float:right;
}
div#action-stations-widget > a.action-stations-expand.action-stations-orange,
div#action-stations-widget > a.action-stations-expand.action-stations-red,
div#action-stations-widget a.action-stations-shrinkwrap-from-expanded.action-stations-orange,
div#action-stations-widget a.action-stations-shrinkwrap-from-expanded.action-stations-red {
  color:yellow;
}
div#action-stations-widget > a.action-stations-expand.action-stations-dradis,
div#action-stations-widget a.action-stations-shrinkwrap-from-expanded.action-stations-dradis {
  color:MediumSpringGreen;
}
div#action-stations-widget > a.action-stations-expand.action-stations-pink,
div#action-stations-widget a.action-stations-shrinkwrap-from-expanded.action-stations-pink {
  color:red;
}
div#action-stations-widget > a.action-stations-expand.action-stations-snowflake,
div#action-stations-widget a.action-stations-shrinkwrap-from-expanded.action-stations-snowflake {
  color:blue;
}
div#action-stations-widget > a.action-stations-expand.action-stations-murica,
div#action-stations-widget a.action-stations-shrinkwrap-from-expanded.action-stations-murica {
  color:DarkBlue;
}
div#action-stations-widget > div.action-stations-handle {
  display:table-cell;
  font-size:large;
  font-weight:bold;
  opacity:0.8;
  height:100%;
  vertical-align:middle;
  padding-left:0.2em;
  padding-right:0.2em;
}

div.action-stations-shrink-hint {
  color:black;
  background-color:LightGoldenRodYellow;
  border:1px solid black;
  position:absolute;
  height:5em;
  z-index:9999;
  top:-5.5em;
  left:-0.5em;
  display:inline;
  max-width:20em;
  font-size:x-small;
  text-align:center;
  white-space:normal;
}
div.action-stations-shrink-hint:after, div.action-stations-shrink-hint:before {
  top: 100%;
  left: 3em;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
}

div.action-stations-shrink-hint:after {
  border-color: rgba(250, 250, 210, 0);
  border-top-color: LightGoldenRodYellow;
  border-width: 8px;
  margin-left: -8px;
}
div.action-stations-shrink-hint:before {
  border-color: rgba(0, 0, 0, 0);
  border-top-color: #000000;
  border-width: 9px;
  margin-left: -9px;
}
div.action-stations-shrink-hint button.action-stations-shrink-hint-close {
  padding:0.2em;
  margin-top:0.3em;
  margin-bottom:0.2em;
  color:LightGoldenRodYellow;
  margin-left:auto;
  margin-right:auto;
  clear:both;
  background-color:DarkBlue;
  position:relative;
  border:0px;
  border-radius:0.2em;
}
body#actionstations-options-page button#as-guess-locale {
  display:block;
  font-size:large;
  margin:1em;
}
body#actionstations-options-page input#as-enter-locale {
  display:block;
  margin:1em;
}
body#actionstations-options-page div.as-locale-saved {
  display:inline-block;
  padding-top:0px;
  padding-left:0.2em;
  padding-right:0.2em;
  padding-bottom:0.2em;
  border-radius:0.2em;
  background-color:white;
  position:relative;
  margin-right:0.2em;
  border:1px solid black;
}
body#actionstations-options-page span.as-locale-saved-delete {
  padding-top:0px;
  font-size:small;
  vertical-align:super;
  font-weight:bold;
  cursor:pointer;
  position:relative;
  color:Crimson;
}
